<h1>Chat window</h1>

<div class="chat-container">
  <ul id="chat">
    <%= render @messages %>
  </ul>

  <%= form_for, :message, remote: true do |f| %>
      <%= f.text_field :body %>
      <%= f.submit "Send" %>
  <% end %>
</div>