// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map div {
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
}

.marker_container {
	border: 1px solid black;
	background-color: yellow;
	padding: 5px; 
	border-radius: 10px;
}
.yellow {
	border: 1px solid black;
	background-color: yellow;
	padding: 5px; 
}